body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #1f2937;
    padding: 30px;
}

.minor-images-container {
    display: flex;
    gap: 13px;
}

.image img {
    max-width: 150px;
    max-height: auto;
    border: solid #3882f6;
    border-radius: 15px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: none;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 30px;
    justify-content: center;
    margin-top: auto;
    display: flex;
}

