.body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: #1f2937;
    padding: 30px;
}

.minor-images-container {
    display: flex;
}

.image img {
    max-width: 200px;
    max-height: auto;
}